# ==========================================
# 1. BINARIOS Y EJECUTABLES (C++)
# ==========================================
simulation
simulationring
calculoverletboundary2D
*.o
*.exe
*.x

# ==========================================
# 2. ARCHIVOS DE DATOS (PESADOS)
# ==========================================
# Ignorar todos los archivos de datos y coordenadas en cualquier lugar del proyecto
*.dat
*.xyz

# ==========================================
# 3. ARCHIVOS MULTIMEDIA (RESULTADOS VISUALES)
# ==========================================
# Ignorar imágenes y videos generados
*.mp4
*.gif
*.png
*.jpg

# ==========================================
# 4. CARPETAS DE EXPERIMENTOS NUMERADAS
# ==========================================
# Ignora cualquier carpeta en la raíz del proyecto que empiece con "0"
# (por ejemplo: 01-experimento/, 02_prueba/, 003/, etc.)
/0*/